/**
 * Tableless Layout for default template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author moraes <moraes@tipos.com.br>
 */

/* ---------------  top and bottom bar ---------------- */
div.dokuwiki .bar {
  background: __background__;
  padding: 0.1em 0.15em;
  clear: both;
  position: fixed;
  display: inline;
  opacity: 0.1;
  bottom: 10px;
  right: 10px;
}

div.dokuwiki .bar:hover {
  opacity: 1.0;
}
