/* Make layout more responsive on mobile devices... */
@media (max-width: 800px) {
	/* Fix appearance of table-of-contents. */
	div.dokuwiki #dw__toc {
		float: none;
		font-size: 120%;
		margin: auto;
		width: auto;
	}
	/* Fix long URLs (links) breaking the viewport. */
	a {
		word-wrap: break-word;
	}
	/* Fix wide images breaking the viewport. */
	img {
		max-width: 100%;
		margin: auto !important;
	}
}

/* The following styles are useful even on non-mobile devices... */

/* Fix images on the image detail page breaking the viewport. */
div.img_big {
        max-width: 100%;
}
.img_detail {
	height: auto;
	max-width: 100%;
}

/* Fix header of image detail page breaking the viewport. */
.h1_img_detail {
	word-wrap: break-word;
}
